certifi==2019.11.28
chardet==3.0.4
idna==2.9
ifaddr==0.1.6
lxml==4.5.0
more-itertools==8.2.0
opml==0.5
protobuf==3.11.3
PyChromecast==4.2.0
requests==2.23.0
six==1.14.0
urllib3==1.25.8
zeroconf==0.24.5
casttube>=0.2.0
