certifi==2019.11.28
chardet==3.0.4
idna==2.9
ifaddr==0.1.6
lxml==4.5.0
more-itertools==8.2.0
opml==0.5
protobuf==3.11.3
PyChromecast==4.2.0
requests==2.23.0
six==1.14.0
urllib3==1.25.8
zeroconf==0.24.5
casttube>=0.2.0
casttube==0.2.0
certifi==2019.11.28
chardet==3.0.4
docker-pycreds==0.3.0
feedparser==5.2.1
idna==2.9
ifaddr==0.1.6
influxdb==5.0.0
jq==0.1.6
lxml==4.5.0
more-itertools==8.2.0
opml==0.5
protobuf==3.11.3
PyChromecast==4.2.0
python-dateutil==2.7.3
pytz==2018.4
redis==3.2.0
requests==2.23.0
schedule==0.6.0
selenium==3.141.0
six==1.14.0
urllib3==1.25.8
virtualenv==15.1.0
websocket-client==0.48.0
zeroconf==0.24.5
